.main__title {
    padding: 20px 0;
}

.privacy__btn {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 3px solid white;
}

.privacy__active, .privacy__btn:hover {
    background-color: #ccc;
}

.privacy__btn:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.privacy__active:after {
    content: "\2212";
}

.privacy__panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

 

.privacy__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s ease-in-out;
}

.privacy__link:hover::after {
    width: 13%;
}